# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\08_DevPersonal\Java\mysql-audit-proxy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
